body {
    font-size: 1.5em;
    line-height: 1.4;
    width: 100%;
    overflow-x: hidden;
    /*font-family: "Helvetica35Thin";*/
    font-family: 'Open Sans', sans-serif;
  font-weight: thin;

}

.page-wrap {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -142px; 
}
.page-wrap:after {
  content: "";
  display: block;
}
.site-footer, .page-wrap:after {
  /* .push must be the same height as footer */
  height: 142px; 
}


html {
  position: relative;
  min-height: 100%;
}


/*Footer country*/


#footer_body ul li {
  display: inline;
}

/*Old footer*/
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  color:#fff;
  height: auto;
  background-color: #2A2929;
}







@media (max-width: 500px) {
.imageHolder .caption { 
 opacity: 0;
 position: absolute;
 width: 299px; 
 height: 255px;
 top: -5px;
 left: 15px; 
 padding: 2px 0px; 
 color: black; 
 background: rgb(158, 178, 57);
 text-align: center; 
 font-weight:bold; } 

#banner-fade .bjqs {
  height: 650px;
}


.centerMe {
  /* border: 1px solid red; */
 
  /* padding: 0 !important; */
 
  padding-left: 60px;
  /* width: 120%; */
  /* margin-left: -20px; */
}

.scroll-img ul li {
  display: inline-block;
  margin: 0px 0 10px 0px;
}


.logoLocater  {
  /* position: static; */
  top: 0;
  left: 10px;
  /* margin: 0 auto; */
  
  margin-left: 7%;
  margin-bottom: 4%;
}



} /*end 500 media query*/




.footer ul, ol {
margin-top: 0;
margin-bottom: 10px;
margin-left: -30px;
}



/*Image sizers*/


.img100 {
  width: 100%;
  margin-top: -20px;
  min-width: 300px;
  
  z-index: 0;
}

.img1000 {
  width: 100%;
  margin:0 auto;
  margin-bottom: 40px;
}
.sociaIcons {

margin: 0;


padding: 0;


list-style-type: none;


text-align: center;
}

.sociaIcons ul li {
  display: inline;
  text-align: center;
}

.sociaIcons p {
  list-style-type: none;
  display: inline;
  
}

.sociaIcons a li {
  color: #9d9d9d;
}

.sociaIcons a:hover li {
  color: #fff;
}

/*Flex Centering*/



main {
  
  margin: 0px 0;
  padding: 20px;
}

main div {
  background: black;
  color: white;
  padding: 15px;
  width: auto;
  /*max-width: 125px;*/
  margin: 5px;
}

.inline-block-center {
  text-align: center;
}
.inline-block-center div {
  display: inline-block;
  text-align: left;
}

.flex-center {
  display: flex;
  justify-content: center;
}




.imageHolder .caption {
  list-style: none;
}


.imageHolder { position: relative; 
  width: auto;  
} 

.trailerOneImg {
  background: url(img/Growlab-large-pic-15ft-trailer.png);
}
.trailerTwoImg {
  background: url(img/Growlab-large-pic-20ft-trailer.png);
}

.trailerThreeImg {
  background: url(img/Growlab-large-pic-30ft-trailer.jpg);
}

.imageHolder .caption { 
 opacity: 0;
 position: absolute;
 width: 350px; 
 height: 300px;
 top: -5px;
 left: 15px; 
 padding: 2px 0px; 
 color: black; 
 background: rgb(158, 178, 57);
 text-align: center; 
 font-weight:bold; } 


 .imageHolder:hover .caption { background-size: 100%; opacity: .7;
   transition: opacity .5s ease-in-out;
   -moz-transition: opacity .5s ease-in-out;
   -webkit-transition: opacity .5s ease-in-out; } 

/*Small browser drop down nav css overide*/

.navbar-nav {
/* margin: 7.5px -15px; */
background-color: #222222;
/* border: 1px solid blue; */
/* width: auto; */
/* height: 5em; */
}




@media (max-width:1600px) {
  .carousel {
  /* width: 50%; */
  }


.navbar-toggle {
  position: relative;
  float: right;
  padding: 9px 10px;
  margin-top: 8px;
  margin-right: 15px;
  margin-bottom: 8px;
  background-color: transparent;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}



/*Navbar media query information*/

.NavBottomLeftBox {
  background-color: #1A77B0;
  display: block;

  z-index: 10;
  width: 1060px;
}

.NavBkColor {

  /* color: #F00; */
  

  background-color: rgb(48, 113, 199);

 

  padding: inherit;

  background-position: inherit;

  z-index: 300000000;

  /* width: 500px; */

  /* margin-left: 5%; */

  /* margin-top: 5%; */

  margin-right: 0%;

  position: relative;

}

.NavTopLeft {
  /* width: auto; */
  display: block;
  position: inherit;
  height: 42px;
  /* min-width: 1006px; */
  line-height: 40px;
  /* height: 40px; */
  background-color: #373535;
  /* background-size: cover; */
  /* border: 2px solid white; */
  border: none;
  font-size: 1.0em;
  /* float: left; */
}

.NavTopLeft ul {
  margin: 0;

  padding: 0;

  position: relative;
  list-style-type: none;

  /* height: 100px; */
  text-align: right;
}

.NavTopLeft ul li { display: inline; color: darkgrey; margin-right: 34px; margin-top: 70px; /* float: left; */   /* letter-spacing: 2px; */ font-size: 1.3em;   font-family: sans-serif;}

.inline {
    /* width: auto; */
  
    display: block;
  
    height: inherit;
    position: inherit;
  
    /* min-width: 1006px; */
  
    /* height: auto; */
  
    background-color: #FFFFFF;
  
    /* background-size: cover; */
  /* float: left; */
}
.inline ul li {
  display: inline; 
  font-size: x-large;
}
  
.heightTall {
  /* height: 90px; */
  /* width: 700px; */
}


.HeadLiner {
  /* background-color: white; */
  /* width: 464px; */
  /* color: white; */
  /* height: 370px; */t
  display: block;
  /* position: absolute; */
  /* z-index: 3000000; */
  /* margin:0 auto; */
}

/*Navbar media query information*/



.NavBottomRightBox {
width: 300px;
/* margin: 0; */
height: 90px;
margin-left: 5px;
display: block;
float: right;
border: 1px solid white;
border-left: white;
border-left-width: 5px;
/* height: 5em; */
/* border-left-style: solid; */

/* border-left: #fff; */
border-style: solid;     
/* border-left: thick double #ff0000; */
background-color: #FF9B00;
z-index: 700000000 !important;
font-family: sans-serif;
}

.NavBottomRightBox h2 {
  /* margin:0; */
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 20px;
  line-height: 2em;
  z-index: 400000000000;
  color: #fff;
}


.NavTopRightBox {
width: 100%;
margin: 0;
/* margin-left: 5px; */
display: block;
float: left;
/* border:1px solid black; */
/* border-left: white; */
/* border-left-width: 10px; */
/* height: 5em; */
/* border-left-style: solid; */

/* border-left: #fff; */
/* border-style: solid; */     
/* border-left: thick double #ff0000; */
/* background-color: #FFFFFF; */
/* z-index: 700000000 !important; */
}


.logoLocater {
  position: relative;
  top: 25px;
  left: 20px;
  /* margin: 0 auto; */
  float: left;
  padding-right: 5px;
  padding-bottom: 10px;
  /* margin-left: 7%; */
  margin-bottom: 4%;
}


 } /*end 1600 media query*/




@media (max-width:1050px) {


.navbar-nav > li {
  /* float: left; */
  font-size: 1.2em;
  font-family: sans-serif;
}

.logoLocater {
  position: relative;
  top: 30px;
  left: 10px;
  margin: 0 auto;
  float: left;
  padding-right: 5px;
  padding-bottom: 10px;
  margin-left: 7%;
  z-index: 600000000;
  width: auto;
  /* margin-bottom: 4%; */
}


} /*END 1600 MEDIA QUERY*/



@media (max-width:770px) {
  .carousel {
  width: 100%;
  }

  .rowBigBottomMargin {
  margin-bottom: 400px;
}

.scroll-img {
  /* border: 1px solid red; */
  /*width: auto;*/

}

.NavBkColor {

  
   margin-left: 0%; 

}





 } 
 /*end media query*/












@media (max-width:996px) {

.scroll-img {
  /* border: 1px solid red; */
   
  width: 117% !important; 

}

.navbar-nav > li > a {
  font-size: .8em;
  text-align: -webkit-center;
}




.NavBkColor {
  padding: inherit;
  background-position: inherit;
  margin-top: 5%;
  margin-left: -1%;
  margin-right: 0%;
  position: relative;
  font-weight: ;
  font-size: 1.1em;
}



.NavBottomRightBox {
  width: auto;
  margin: 0;
  margin-left: 5px;
  display: block;
  float: right;
  border-left: white;
  border-left-width: 5px;
  border-left-style: solid;
  background-color: #FF9B00;
  font-family: sans-serif;
}


 } 
 /*end 966 media query*/





@media (max-width: 866px) {

.NavBkColor {
  padding: initial;
  background-position: inherit;
  margin-left: -1%;
  margin-right: 0%;
  position: relative;
  font-weight: ;
  font-size: 1.3em;
}


.NavTopLeft {
  /* width: auto; */
  display: block;
  position: inherit;
  /* min-width: 1006px; */
  /* line-height: 20px; */
  height: 42px;
  background-color: #373535;
  /* background-size: cover; */
  /* border: 2px solid white; */
  font-size: .9em;
  border: none;
  line-height: 2.2;
  /* float: left; */
}

.logoLocater {
  position: relative;
  top: 26px;
  left: 10px;
  /* margin: 0 auto; */
  float: left;
  padding-right: 5px;
  padding-bottom: 10px;
  margin-left: 7%;
  width: auto;
  margin-bottom: 4%;
}

} /*end 866 media query*/


@media (max-width: 790px) {

  .footer {
  position: relative;
  bottom: 0;
  width: 100%;
  color:#fff;
  height: auto;
  background-color: #2A2929;
  margin-bottom: -100px;
}

.NavTopLeft {
  /* width: auto; */
  display: block;
  position: inherit;
  /* min-width: 1006px; */
  /* line-height: 20px; */
  height: 42px;
  background-color: #373535;
  /* background-size: cover; */
  /* border: 2px solid white; */
  font-size: .7em;
  text-align: -webkit-auto;
  border: none;
  line-height: 2.2;
  /* float: left; */
}


.navbar-toggle {
  position: relative;
  float: right;
  padding: 9px 10px;
  margin-top: 50px;
  margin-right: 20px;
  margin-bottom: 8px;
  background-color: transparent;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}


/*.logoLocater {
  position: relative;
  top: 15px;
  width: 230px;
  left: -20px;

  margin-left: 7%;
  margin-bottom: 4%;
}*/

.logoLocater {
  position: relative;
  top: 25px;
  left: -50px;
  /* margin: 0 auto; */
  float: right;
  padding-right: 5px;
  padding-bottom: 10px;
  margin-left: 7%;
  width: 30%;
  margin-bottom: 4%;
}


} /*end media 760*/

@media (max-width: 780px) {

.logoLocater {
  position: absolute;
  top: 36px;
  float: left;
  width: 20%;
  left: -40px;
  /* margin: 0 auto; */
  margin-left: 7%;
  margin-bottom: 4%;
}

  } /*end 750*/


@media (max-width: 660px) {

.logoLocater {
  position: relative;
  top: 36px;
  width: 150px;
  left: -20px;
  /* margin: 0 auto; */
  margin-left: 7%;
  margin-bottom: 4%;
}

} /*end media 660*/



@media (max-width: 550px) {
.imageHolder .caption { 
 opacity: 0;
 position: absolute;
 width: 299px; 
 height: 255px;
 top: -5px;
 left: 15px; 
 padding: 2px 0px; 
 color: black; 
 background: rgb(158, 178, 57);
 text-align: center; 
 font-weight:bold; } 

#banner-fade .bjqs {
  height: 650px;
}


.centerMe {
  /* border: 1px solid red; */
 
  /* padding: 0 !important; */
 
  padding-left: 60px;
  /* width: 120%; */
  /* margin-left: -20px; */
}

.scroll-img ul li {
  display: inline-block;
  margin: 0px 0 10px 0px;
}


.logoLocater  {
  position: static;
  top: 0;
  left: 10px;
  /* margin: 0 auto; */
  
  margin-left: 7%;
  display: none;
  margin-bottom: 4%;
}

.navbar-nav > li > a {
  font-size: 1.7em;
  text-align: center;
}

.NavTopLeft {
  /* width: auto; */
  display: block;
  position: inherit;
  /* line-height: 20px; */
  height: 42px;
  background-color: #373535;
  /* background-size: cover; */
  /* border: 2px solid white; */
  font-size: .9em;
  border: none;
  line-height: 2.2;
  /* float: left; */
}



.navbar-toggle {
  position: relative;
  float: right;
  padding: 9px 10px;
  margin-top: 40px;
  margin-right: 5%;
  margin-bottom: 8px;
  background-color: transparent;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}



.scroll-img {
  /* border: 1px solid red; */
  width: 117% !important;
}

} /*end 500 media query*/




.DescriptionBold {
  font-family: "Helvetica35Thin";
  font-size: 1.7em;
  font-weight: bolder;

}



.navTopContainer {
  width: 100%;
  height: auto;
  display: block;
  /* border: none; */
  
  /* border-style: solid; */     
  /* border-bottom: thick #FFFFFF; */
  border-bottom: white; 
  border-bottom-width: 5px; /* height: 5em; */ 
  border-bottom-style: solid;
}

.mainNavBarWrapper {

width: 100%;


margin: 0 auto;


display: block;

height: inherit;

/* border:1px solid black; */
padding: 0;

background-color: rgb(48, 113, 199);

}





  .btnPosition {
     position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 15%;
  font-size: 20px;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
  filter: alpha(opacity=50);
  opacity: .5;
}

.BtnMarginTop {
  /* margin-top: 10px; */
 
  /* float: left; */
  /* padding: 70px; */
}

.marginBtnHeadliner {
  /* left: 0; */
  top: 0;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 100px;
}
.H2marginBtnHeadliner {
  /* margin:0; */
  margin-top: 100px;
  margin-right: 10%;
  margin-left: 10%;
}

.carousel-control:hover, .carousel-control:focus {
  color: #fff;
  text-decoration: none;
  filter: alpha(opacity=90);
  outline: 0;
  opacity: .5;
}


.infoBox {
margin: 0;
}

.Right-Info-Banner {
  background-image: url("../img/Third-Info-Banner.jpg");
  width: auto;
  height: 350px;
}

.colorGrean {
  background-color: green;
  height: 350px;
  /* margin-right: 1px; */
  /* border-bottom-style: inset; */
  /* border-bottom-width: thick; */
  /* border-bottom-right-radius: 10px; */
  /* border-right-style: inset; */
  /* border-right-width: 10px; */
}

.rowSpace {
  height: 10px;
  width: 100%;
}

.colSpace {
  /* height: 0px; */
  /* width: 80px; */

}

.img100 {
  width: auto;
  margin: 0 auto;
  float: right;
}


/*Image Sprites */
.facebookIconSprite {
    background: url('1013-icons-30.jpg') 100px 10px no-repeat;
    
}


/*End image sprites*/


