body {
    font-size: 1.5em;
    line-height: 1.4;
    width: 100%;
    overflow-x: hidden;
    font-family: "Helvetica35Thin";
  font-weight: thin;

}

.page-wrap {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -142px; 
}
.page-wrap:after {
  content: "";
  display: block;
}
.site-footer, .page-wrap:after {
  /* .push must be the same height as footer */
  height: 142px; 
}


html {
  position: relative;
  min-height: 100%;
}


/*Footer country*/


#footer_body ul li {
  display: inline;
}

/*Old footer*/
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  color:#fff;
  height: auto;
  background-color: #2A2929;
}

@media (max-width: 760px) {

  .footer {
  position: relative;
  bottom: 0;
  width: 100%;
  color:#fff;
  height: auto;
  background-color: #2A2929;
  margin-bottom: -100px;
}
}

.footer ul, ol {
margin-top: 0;
margin-bottom: 10px;
margin-left: -30px;
}
/*.footer h3 {
  color: #fff;
  text-align: center;
  margin-left: 30px;
}

.footer ul li {
  color: #fff; text-align: center;
}*/
/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */



/*Image sizers*/


.img100 {
  width: 100%;
  margin-top: -20px;
  min-width: 300px;
  
  z-index: 0;
}

.sociaIcons {

margin: 0;


padding: 0;


list-style-type: none;


text-align: center;
}

.sociaIcons ul li {
  display: inline;
  text-align: center;
}

.sociaIcons p {
  list-style-type: none;
  display: inline;
  
}

.sociaIcons a li {
  color: #9d9d9d;
}

.sociaIcons a:hover li {
  color: #fff;
}

/*Flex Centering*/



main {
  
  margin: 0px 0;
  padding: 20px;
}

main div {
  background: black;
  color: white;
  padding: 15px;
  width: auto;
  /*max-width: 125px;*/
  margin: 5px;
}

.inline-block-center {
  text-align: center;
}
.inline-block-center div {
  display: inline-block;
  text-align: left;
}

.flex-center {
  display: flex;
  justify-content: center;
}




.imageHolder .caption {
  list-style: none;
}


.imageHolder { position: relative; 
  width: auto;  
} 

.trailerOneImg {
  background: url(img/Growlab-large-pic-15ft-trailer.png);
}
.trailerTwoImg {
  background: url(img/Growlab-large-pic-20ft-trailer.png);
}

.trailerThreeImg {
  background: url(img/Growlab-large-pic-30ft-trailer.jpg);
}

.imageHolder .caption { 
 opacity: 0;
 position: absolute;
 width: 350px; 
 height: 300px;
 top: -5px;
 left: 15px; 
 padding: 2px 0px; 
 color: black; 
 background: rgb(158, 178, 57);
 text-align: center; 
 font-weight:bold; } 

@media (max-width: 500px) {
.imageHolder .caption { 
 opacity: 0;
 position: absolute;
 width: 299px; 
 height: 255px;
 top: -5px;
 left: 15px; 
 padding: 2px 0px; 
 color: black; 
 background: rgb(158, 178, 57);
 text-align: center; 
 font-weight:bold; } 

#banner-fade .bjqs {
  height: 650px;
}
}



 .imageHolder:hover .caption { background-size: 100%; opacity: .7;
   transition: opacity .5s ease-in-out;
   -moz-transition: opacity .5s ease-in-out;
   -webkit-transition: opacity .5s ease-in-out; } 

/*Small browser drop down nav css overide*/

.navbar-nav {
/* margin: 7.5px -15px; */
background-color: #222222;
/* border: 1px solid blue; */
/* width: auto; */
/* height: 5em; */
}




@media (max-width:1600px) {
  .carousel {
  /* width: 50%; */
  }
 } 

@media (max-width:770px) {
  .carousel {
  width: 100%;
  }

  .rowBigBottomMargin {
  margin-bottom: 400px;
}
 } 


.DescriptionBold {
  font-family: "Helvetica35Thin";
  font-size: 1.7em;
  font-weight: bolder;

}



.navTopContainer {
  width: 100%;
  height: auto;
  display: block;
  /* border: none; */
  
  /* border-style: solid; */     
  /* border-bottom: thick #FFFFFF; */
  border-bottom: white; 
  border-bottom-width: 5px; /* height: 5em; */ 
  border-bottom-style: solid;
}

.mainNavBarWrapper {

width: 100%;


margin: 0 auto;


display: block;

/* border:1px solid black; */
padding: 0;

background-color: rgb(48, 113, 199);

}

.NavBottomRightBox {
width: auto;
margin: 0;
margin-left: 5px;
display: block;
float: right;
/* border:1px solid black; */
border-left: white;
border-left-width: 5px;
/* height: 5em; */
border-left-style: solid;

/* border-left: #fff; */
/* border-style: solid; */     
/* border-left: thick double #ff0000; */
background-color: #FF9B00;
z-index: 700000000 !important;
font-family: sans-serif;
}

.NavBottomRightBox h2 {
  /* margin:0; */
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 20px;
  line-height: 2em;
  z-index: 400000000000;
  color: #fff;
}


.NavTopRightBox {
width: 295px;
margin: 0;
/* margin-left: 5px; */
display: block;
float: right;
/* border:1px solid black; */
/* border-left: white; */
/* border-left-width: 10px; */
/* height: 5em; */
/* border-left-style: solid; */

/* border-left: #fff; */
/* border-style: solid; */     
/* border-left: thick double #ff0000; */
/* background-color: #FFFFFF; */
/* z-index: 700000000 !important; */
}





.NavBottomLeftBox {
  background-color: #1A77B0;
  display: block;

  z-index: 10;
  width: 1060px;
}

.NavBkColor {

  /* color: #F00; */
  

  background-color: rgb(48, 113, 199);

 

  padding: inherit;

  background-position: inherit;

  z-index: 300000000;

  /* width: 500px; */

  position: relative;

}

.NavTopLeft {
  /* width: auto; */
  display: block;
  position: inherit;
  /* min-width: 1006px; */
  /* line-height: 20px; */
  /* height: 40px; */
  background-color: #373535;
  /* background-size: cover; */
  /* border: 2px solid white; */
  border: none;
  /* float: left; */
}

.NavTopLeft ul {
  margin: 0;
padding: 0;

  position: relative;
  list-style-type: none;

  text-align: right;
}

.NavTopLeft ul li { display: inline; color: darkgrey; margin-right: 34px; margin-top: 70px; /* float: left; */   /* letter-spacing: 2px; */ font-size: 1.3em;   font-family: sans-serif;}

.inline {
    /* width: auto; */
  
    display: block;
  
    height: inherit;
    position: inherit;
  
    /* min-width: 1006px; */
  
    /* height: auto; */
  
    background-color: #FFFFFF;
  
    /* background-size: cover; */
  /* float: left; */
}
.inline ul li {
  display: inline; 
  font-size: x-large;
}
  
.heightTall {
  height: 90px;
}


.HeadLiner {
  /* background-color: white; */
  /* width: 464px; */
  /* color: white; */
  /* height: 370px; */t
  display: block;
  /* position: absolute; */
  /* z-index: 3000000; */
  /* margin:0 auto; */
}
  .btnPosition {
     position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 15%;
  font-size: 20px;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
  filter: alpha(opacity=50);
  opacity: .5;
}

.BtnMarginTop {
  margin-top: 10px;
 
  /* float: left; */
  /* padding: 70px; */
}

.marginBtnHeadliner {
  /* left: 0; */
  top: 0;
  margin-left: 135px;
  margin-top: 100px;
}
.H2marginBtnHeadliner {
  /* margin:0; */
  margin-top: 100px;
}

.carousel-control:hover, .carousel-control:focus {
  color: #fff;
  text-decoration: none;
  filter: alpha(opacity=90);
  outline: 0;
  opacity: .5;
}


.infoBox {
margin: 0;
}

.Right-Info-Banner {
  background-image: url("../img/Third-Info-Banner.jpg");
  width: auto;
  height: 350px;
}

.colorGrean {
  background-color: green;
  height: 350px;
  /* margin-right: 1px; */
  /* border-bottom-style: inset; */
  /* border-bottom-width: thick; */
  /* border-bottom-right-radius: 10px; */
  /* border-right-style: inset; */
  /* border-right-width: 10px; */
}

.rowSpace {
  height: 10px;
  width: 100%;
}

.colSpace {
  /* height: 0px; */
  /* width: 80px; */

}

.img100 {
  width: auto;
  margin: 0 auto;
  float: right;
}
