<div ng-controller='CookieListCtrl'>

<div class="row">

        <div class="col-lg-3 col-md-4 col-md-3">
          
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->

</div>

     <!-- <strong>@ {{ post.name }}</strong>
        <h4>{{ post.snippet }}</h4>
        <img class="imgSmall pull-right" ng-src="{{ post.imageUrl}}" alt=""> -->


    <a href="#/cookies/{{cookie.id}}" class="thumb"><img ng-src="{{cookies.imageUrl}}"></a>
          <a href="#/cookies/{{cookie.id}}">{{cookie.name}}</a>
          <p>{{cookie.snippet}}</p>




          