<footer class="footer navbar navbar-fixed-bottom" data-target="navbar-collapse-bottom">
  <div class="row">

    <div class="col-md-3 col-sm-4 col-sm-3 sociaIcons">
    <h3 class="text-center">ABOUT</h3>
      <ul>
      <hr>
        <li>Our Mission.</li>
        <li>About Us.</li>
        <li>Experience</li>
      </ul>
    </div><!-- End Col -->
  
    <div class="col-md-3 col-sm-4 col-sm-3 sociaIcons">
  <h3 class="text-center">CONTACT</h3>
      <ul>
      <hr>
        <li>Email us.</li>
        <li>Talk on the Phone.</li>
        <li>Snail Mail</li>
      </ul>
    </div><!-- End Col -->
<div class="col-md-3 col-sm-4 col-sm-3 sociaIcons">
  <h3>PRODUCTS</h3>
      <ul>
      <hr>
        <li>20 foot Trailer.</li>
        <li>15 foot Trailer.</li>
        <li>Custom Trailers</li>
      </ul>
    </div><!-- End Col -->

  <div class="sociaIcons">
     <ul>
       <li><a href="https://facebook.com/Grow.Lab.USA"><img src="img/Facebook-social-logo.png" alt=""></a></li>

       <li><a href="https://twitter.com/GROWLABUSA"><img src="img/Twitter-social-logo.png" alt=""></a></li>

       <li><a href="https://www.pinterest.com/growlabusa/"><img src="img/2-Pinterest-social-logo.png" alt=""></a></li>
     </ul>
    </div><!-- End Col -->
  </div><!-- End Row -->
</footer>
<!-- End Sticky Footer -->