<div class="jumbotron">
        <h1 class="text-center">Warranty</h1>
     
      </div>

      <!-- Example row of columns -->
      <div class="container-fluid">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <p class="text-center">
            All equipment is new and comes with a individual stated manufactures warranty or replacement plan . Allwarranty forms, brochures and manuals are included with your custom lab    
 Our custom labs come with a 3 yrs limited warranty through Grolabusa that covers any building malfunctions not caused from 
miss use, neglect, or travel. 
Your trailer is covered by the manufacture for 5 years , for any damages not caused by an incident not related to the manufacturing. 
Excluding Trailer Tires
Air conditioning systems are  are installed by licensed and certified technicians and equipment is covered under a 5 year limited warranty.

          </p>
          <br>
          <br>

        </div><!-- End column --> 

      </div><!-- End Row -->
      </div> <!-- end container-fluid -->
      <br><hr>