<div class="jumbotron">
        <h1 class="text-center">Our Mission</h1>
     
      </div>

      <!-- Example row of columns -->
      <div class="container-fluid">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <p class="text-center">
             We are a trusted company that promotes plants and people to benefit from one another, our products and services are design to meet your growing needs with our everyday great deals to are special sale items to save you money, with our delivery to your door step services to save your valuable time. No matter weather you want a small vegetable garden or a hi-tech commercial growing operation and weather you have never grown before or if you have years of experience we have the tools and the staff to help you reach your goals and beyond. Serving the whole USA we customize growing systems that plants thrive in, working directly with the leading suppliers of today's advanced growing products and techniques to give you the tools to be a expert grower that 
             your plants will love. Having our friendly technicians, our proven products, and the right environment you will have happy plants year around. Being a reliable company with a great product is what we are all about from our helpful customer service representatives to our cutting edge products you well be capable and comfortable growing and harvesting amazing products in a fabulous thriving industry full of health and wealth. We view ourselves as partners with our customers, our employees, our community, and our environment we aim to become a household name for all your growing needs ,capitalizing on the growing interest and benefits across our USA. Our goal is to continue providing those old and NEW growing concepts to growers from coast to coast. 

          </p>
          <br>
          <br>

        </div><!-- End column --> 

      </div><!-- End Row -->
      </div> <!-- end container-fluid -->