<div class="row rowBigBottomMargin">


    <div class="col-md-4 pull-left">
    <h1 class="text-center">Dimensions</h1>
    <hr>
<ul>
<h3 class="DescriptionBold">Outside</h3>
  <li>Length: 24' total including the tongue</li>
  <li>10' tall </li>
  <li>8  1/2' wide </li>
  <li>total weight is certified at 6750 lbs </li>


  <h3 class="DescriptionBold">Inside</h3>
  <li>Inside: 20' long </li>
  <li>8' tall </li>
  <li>8' 1/4" wide </li>

  <h3 class="DescriptionBold">Lights</h3>
  <li>1000 Gigawats</li>
  <li>Flux Core</li>
  <li>88 mph</li>
</ul>
</div><!-- end col -->
<!-- Carousel
    ================================================== -->
   <div class="col-md-8 col-sm-7">
  
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <img src="img/20ft-strait-on-600X300.jpg" alt="20ft Elite Trailer">
          <div class="container">
            <div class="carousel-caption">
              <h1>Just like any trailer</h1>
              <p>Low key and portable</p>
             <!--  <p><a class="btn btn-lg btn-primary" href="#" role="button">Sign up today</a></p> -->
            </div>
          </div>
        </div>
        <div class="item">
          <img src="img/20ft-inside-on-600X300.jpg" alt="Inside Trailer">
          <div class="container">
            <div class="carousel-caption">
              <h1>Fits up to 12 Lights</h1>
              <p>Spacious</p>
             <!--  <p><a class="btn btn-lg btn-primary" href="#" role="button">Order now</a></p> -->
            </div>
          </div>
        </div>
        <div class="item">
          <img src="img/20ft-controller-on-600X300.jpg" alt="Controller and security">
          <div class="container">
            <div class="carousel-caption">
              <h1>One more for good measure.</h1>
              <p>State of the art controller & 24 hour security options</p>
              <!-- <p><a class="btn btn-lg btn-primary" href="#" role="button">Browse gallery</a></p> -->
            </div>
          </div>
        </div>
      </div>

    </div><!-- /.carousel -->

 
<br>
<br>
<br>
<hr>
 

</div><!-- end row -->


    <script type="text/javascript">
  $(document).ready(function() {
    $('.carousel').carousel({
      interval: 5000
    })
  });
</script>