<div class="container-fluid">
  <div class="row well">
    <div class="col-lg-12 col-md-6">

    <h2>Elite 20 Foot Trailer</h2>
        <div class="demo modal-open">


        <ul id="demo" class="content-slider">


        <script>
  $(document).ready(function() {
    $('#imageGallery').lightSlider({
        gallery:true,
        item:1,
        thumbItem:3,
        slideMargin:0,
        currentPagerPosition:'center',
        onSliderLoad: function(plugin) {
            plugin.lightGallery();
        }   
    });  
  });
    </script>


         <ul id="imageGallery">
  <li data-thumb="img/20-foot-ellit-grow-lab-usa-thumb.jpg" data-src="img/20-foot-ellit-grow-lab-usa-thumb.jpg">
    <img src="img/20-foot-ellit-grow-lab-usa.jpg"/>
  </li>
   <li data-thumb="img/20-foot-ellit-grow-lab-usa-thumb.jpg" data-src="img/20-foot-ellit-grow-lab-usa-thumb.jpg">
    <img src="img/20-foot-ellit-grow-lab-usa.jpg"/>
  </li>
</ul>

    </ul>  <!-- end id#demo -->
  </div><!-- end row -->
</div><!-- end container -->


<br>
<div class="row">
<h1 class="text-center">Dimensions</h1>
<div class="col-md-3 list-unstyled">
<ul>
<h1> Outside</h1>
  <li>Length: 24' total including the tongue</li>
  <li>10' tall </li>
  <li>8  1/2' wide </li>
  <li>total weight is certified at 6750 lbs </li>
</ul>
</div><!-- end col -->

<div class="col-md-3 list-unstyled">
  <ul>

  <h1> Inside</h1>
  <li>Inside: 20' long </li>
  <li>8' tall </li>
  <li>8' 1/4" wide </li>
</ul>
</div><!-- end col -->
</div><!-- end row -->
<br>
</div>



<ul>
<h1> Outside</h1>
  <li>Length: 24' total including the tongue</li>
  <li>10' tall </li>
  <li>8  1/2' wide </li>
  <li>total weight is certified at 6750 lbs </li>


  <h1> Inside</h1>
  <li>Inside: 20' long </li>
  <li>8' tall </li>
  <li>8' 1/4" wide </li>
</ul>
