<nav class="navbar navbar-wrap navbar-inverse header ">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="" href="#/homebase"><img src="img/Grow-Lab-Little-Logo.png"></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#/homebase">HomeBase</a></li>
            <li><a href="#/mission">Our Mission</a></li>
            <li><a href="#/contact">Contact</a></li>
            <li><a href="#/warranty">Warranty</a></li>
            <li> <form class="navbar-form navbar-right">
            <input ng-model="query" class="form-control" placeholder="Search...">
          </form></li>
          </ul>
         <!--  <form class="navbar-form navbar-right">
            <input ng-model="query" class="form-control" placeholder="Search...">
          </form> -->
        </div>
      </div>
    </nav>
<!-- end Top navbar -->