<!doctype html>
<html lang="en" ng-app="phonecatApp">
<head>
  <meta charset="utf-8">
  <title>GROW LAB</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
 <!--  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css"> -->
  <link rel="stylesheet" href="css/app.css">
  <link rel="stylesheet" href="css/animations.css">
  <link rel="stylesheet" href="css/bootstrap.css">
  <link rel="stylesheet" href="css/dashboard.css">
  <link rel="stylesheet" href="css/carousel.css">
  <link rel="stylesheet" href="css/sticky-nav.css">
  <link rel="stylesheet" href="css/bjqs.css">
  <link rel="stylesheet" href="css/demo.css">
  
  <link rel="stylesheet" href="css/custome.css">
  

<!-- ngDialog css below -->

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-animate/angular-animate.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="bower_components/angular-resource/angular-resource.js"></script>
  <script src="js/app.js"></script>
  <script src="js/animations.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/filters.js"></script>
  <script src="js/services.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/docs.min.js"></script>
  <script src="js/jquery-scrolltofixed.js"></script>
<!-- Floating sticky top Nav script below -->
  <script src="js/scrollToFixed.js"></script>
  <script src="js/bjqs-1.3.js"></script>
  <script src="js/prefixfree.min.js"></script>
  

 
  
</head>

<body>


<!-- Leaves -->
<!-- <div id="fall-container">
<img class="imgSpecific" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/leaf.png" alt>
<img class="imgSpecific" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/leaf2.png" alt id="leaf2">
<img class="imgSpecific" src=https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/leaf4.png alt id="leaf3">

<img class="imgSpecific" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/leaf7.png" alt id="leaf5">
<img class="imgSpecific" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/leaf6.png" alt id="leaf6"> 
</div> --><!-- End Leaves -->
<div ng-controller='ListCtrl'>  

<img class="img100" ng-src="{{ Banner.imageUrl }}" alt="">
<!--   <p>{{ Banner.name }}</p> -->
  
</div>
<!-- Top NavBar -->

<nav class="navbar navbar-wrap navbar-inverse header ">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="" href="#/homebase"><img src="img/Grow-Lab-Little-Logo.png"></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#/homebase">HomeBase</a></li>
            <li><a href="#/mission">Our Mission</a></li>
            <li><a href="#/contact">Contact</a></li>
            <li><a href="#/warranty">Warranty</a></li>
            <li> <form class="navbar-form navbar-right">
            <input ng-model="query" class="form-control" placeholder="Search...">
          </form></li>
          </ul>
         <!--  <form class="navbar-form navbar-right">
            <input ng-model="query" class="form-control" placeholder="Search...">
          </form> -->
        </div>
      </div>
    </nav>
<!-- end Top navbar -->

<!-- Dynamic View -->
  <div class="view-container">
    <div ng-view class="view-frame container-fluid"></div>
  </div>
<!-- End Dynamic View -->


<!-- Bottom sticky Footer -->
<footer class="footer navbar navbar-fixed-bottom" data-target="navbar-collapse-bottom">
  <div class="row">

    <div class="col-md-3 col-sm-4 col-sm-3 sociaIcons">
    <h3 class="text-center">ABOUT</h3>
      <ul>
      <hr>
        <a href="#/mission"><li>Our Mission</li></a>
        <p>-</p>
        <a href=""><li>About Us</li></a>
        <p>-</p>
        <a href=""><li>Experience</li></a>
      </ul>
    </div><!-- End Col -->
  
    <div class="col-md-3 col-sm-4 col-sm-3 sociaIcons">
  <h3 class="text-center">CONTACT</h3>
      <ul>
      <hr>
        <a href="#/contact"><li>Email us</li></a>
        <p>-</p>
        <a href="#/homebase"><li>Home</li></a>
        
        <!-- <a href=""><li>Snail Mail</li></a> -->
      </ul>
    </div><!-- End Col -->
<div class="col-md-3 col-sm-4 col-sm-3 sociaIcons">
  <h3>PRODUCTS</h3>
      <ul>
      <hr>
        <a href="#/Product1"><li>20 foot Trailer</li></a>
        <p>-</p>
        <a href=""><li>15 foot Trailer</li></a>
        <p>-</p>
        <a href=""><li>Custom Trailers</li></a>
      </ul>
    </div><!-- End Col -->

  <div class="sociaIcons">
     <ul>
       <li><a href="https://facebook.com/Grow.Lab.USA"><img src="img/Facebook-social-logo.png" alt=""></a></li>

       <li><a href="https://twitter.com/GROWLABUSA"><img src="img/Twitter-social-logo.png" alt=""></a></li>

       <li><a href="https://www.pinterest.com/growlabusa/"><img src="img/2-Pinterest-social-logo.png" alt=""></a></li>
     </ul>
    </div><!-- End Col -->
  </div><!-- End Row -->
</footer>
<!-- End Sticky Footer -->




</body>
</html>
